body {
    background-color: #e5e5e5;
}

header{
    background-color: #CF2B2B;
    width: 100vw;
    height: 92px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.conteudo {
    width: 100vw;
    height: auto;
    margin-top: calc(92px + 31px);
}

section {
    width: 100%;
    height: auto;
    margin-bottom: 27px;
}

/* TEXTOS ZONE */

h1 {
    font-family: Righteous;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    text-align: left;

    color: white;

    box-Align: Left;
    Vertical-align: Top;
    Letter-spacing: -1.2%;

    margin-left: 21px;
    margin-top: 8px;
    margin-bottom: 0px;
}

h2 {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;

    color: white;

    box-align: Left;
    vertical-align: Top;
    line-height: 10px;

    margin-left: 21px;
}

h3 {
    font-family: Righteous;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;

    color: #333333;

    Line-height: 32px 100%;
    box-Align: Left;
    Vertical-align: Top;
    Letter-spacing: 1.8%;

    margin-left: 19px;
    margin-bottom: 17px;
}

.opcao p {
    margin-left: 14px;
    margin-right: 14px;
}

.nome-produto{ 
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    color: #333333;

    line-height: 19px;
    box-align: Left; 
    vertical-align: Top;

    margin-top: 8px;
    margin-bottom: 4px;

}

.descricao-produto { 
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

    color: #A6A6A6;

    line-height: 18px ;
    box-align: Left; 
    vertical-align: Top;

    margin-bottom: 5px;

}

.preco-produto {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    color: black;

    line-height: 19px;
    box-align: Left; 
    vertical-align: Top;

    margin-bottom: 13px;
}

/* sobre as opcoes */

.opcoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
    overflow-x: scroll;
}

.opcao {
    width: 172px;
    border-radius: 9px;
    background-color: white;

    margin-right: 16px;
}

.opcao:first-child {
    margin-left: 19px;
}

.opcao:last-child {
    margin-right: 19px;
}

.opcao img {
    width: 144px;
    height: 87px;
    border-radius: 4px;

    margin-top: 18px;
    margin-left: 14px;
    margin-right: 14px;

    object-fit: cover;
    object-position: center;
}

/* Footer (botao) */

footer {
    width: 100vw;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.conteudo {
    margin-bottom: calc( 92px + 27px);
}

.botao {
    background-color: gray;
    width: calc( 100% - 50px);
    height: calc( 92px - 30px);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao p {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;

    color: white;

    box-Align: Center;
    Vertical-align: Top;
    Letter-spacing: 1.8%;
}
